body {
    background-color: #f7cfed;
    font-family: "Nunito", sans-serif;
}

#MainNavbar {
    font-size: 1.5em;
    font-weight: 100;
}

#MainNavbar .nav-link {
    color: white ;
}

#MainNavbar .nav-link:hover {
    color: #ea1c2c ;
}

#MainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1em;
}

#headingGroup span {
    color: #ea1c2c;
}

#headingGroup h2 {
    font-weight: 100;
    font-size: 4rem;
}

@media (max-width: 1200px) {
    #headingGroup h2 {
        font-weight: 100;
        font-size: 3rem;
}

